ao3_helper.db
ao3_helper.db-journal
config.ini
ao3_helper.log
/build/
/dist/
*.spec
/Output/
/Release/
/setup.exe
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.pytest_cache/
.ruff_cache/
.env
.venv
venv/
ENV/
env/
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
/tests/